<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{newsletter_title}</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <table
        style="max-width: 600px; margin: 0px auto; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px; width: 707px; height: 1226px;">
        <tbody>
            <tr>
                <td
                    style="background-color: #2e86ab; padding: 10px 0px; text-align: center; border-top-left-radius: 10px; border-top-right-radius: 10px; width: 566px;">
                    <img style="width: 136px; height: auto;" src="https://...custom/images/ApplicationLogo.png"
                        alt="Logo" />
                </td>
            </tr>
            <tr>
                <td style="padding: 20px 0px; width: 566px;">
                    <p style="padding-left: 30px;">Dear [userfirstname],</p>
                    <br />
                    <p style="padding-left: 30px;">This is a automatic newsletter to inform you that we have new
                        features in DigiPack!</p>
                    <p style="padding-left: 30px;">In this update You will notice:</p>
                    <br />

                    {bullet_points}

                    <br />
                    <p style="padding-left: 30px;">Best regards,</p>
                    <p style="padding-left: 30px;">System Team.</p>
                </td>
            </tr>
            <tr>
                <td
                    style="background-color: #2e86ab; padding: 10px 0px; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; width: 566px;">
                    <p style="color: #ffffff; font-size: 10px; margin: 5px 0;">system</p>
                    <p style="color: #ffffff; font-size: 10px; margin: 5px 0;">This is an automated email notification.
                        Please do not reply.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>